@if (Request.IsAuthenticated) {
	<text>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
			<ul class="nav pull-right">
				<li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
				<li><a href="javascript:document.getElementById('logoutForm').submit()">Sign Out</a></li>
			</ul>
			
			@Html.AntiForgeryToken()
			
        }
	</text>
} else {
	<ul class="nav pull-right">
		<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
		<li>@Html.ActionLink("Sign In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
	</ul>
}

<style>
	form { margin: 0 }
</style>