@{
    ViewBag.Title = "Kenny";
}

<div class="hero-unit">
	<h1>Kenny finds logins</h1>
	<p></p>
	<p>Enter your HTTP basic authentication-based sites, and Kenny will show you logins that have been leaked on the public Web.</p>
	@if (Request.IsAuthenticated) {
		<p>@Html.ActionLink("Go to your sites »", "Index", "Sites", new {}, new { @class = "btn btn-primary btn-large" })</p>
	} else {
		<p>@Html.ActionLink("Get started »", "Login", "Account", new {}, new { @class = "btn btn-primary btn-large" })</p>
	}
</div>
<hr />
<footer>
	<p>© <a href="http://www.mattblodgett.com">Matt Blodgett</a> 2013</p>
</footer>
