@{
	ViewBag.Title = "Kenny";
}

<link type="text/css" rel="stylesheet" href="~/Assets/css/home.css" />

<div id="hero">
	<div class="wrap">
		<div class="brand">
			<img src="~/Assets/img/kenny-loggins-ascii.png" class="kenny-logo" alt="Kenny logo">
			<h1>Kenny</h1>
		</div>
		<h3 class="tagline"> &nbsp;finds logins.</h3>
		@if (Request.IsAuthenticated) {
			<p>@Html.ActionLink("Go to your sites »", "Index", "Sites", new { }, new { @class = "btn btn-inverse btn-large" })</p>
		} else {
			<p>@Html.ActionLink("Get started »", "Login", "Account", new { }, new { @class = "btn btn-inverse btn-large" })</p>
		}
	</div>
</div>

<hr />
<footer>
	<p>© <a href="http://www.mattblodgett.com">Matt Blodgett</a> @DateTime.Now.Year</p>
</footer>
